<FluentStack Style="margin: 10px 0px; padding: 10px; border: 1px solid var(--accent-fill-rest);"
             HorizontalAlignment="HorizontalAlignment.Start">


    <img src="@PictureLink" alt="@PictureAlt" style="width:130px; height:130px;" />

    <div style="margin-left:10px;">
        <FluentLabel Typo="Typography.H4">@Title</FluentLabel>
        <FluentLabel>@Description</FluentLabel>
        <FluentStack HorizontalAlignment="HorizontalAlignment.End">@Date</FluentStack>
    </div>   
</FluentStack>
    