@using RulerHub.Data.Services.Logistic.Warehouses.Interfaces
@using RulerHub.Data.Services.Tools

@inject IWarehouseService WarehouseService

@inject IDialogService DialogService

@inject IToastService ToastService

@inject PdfService PdfService

@attribute [StreamRendering]

<FluentToolbar Style="height: 48px;padding-inline-end: 10px; width: 100%;">
    <FluentStack HorizontalAlignment="@HorizontalAlignment.Start"
                 VerticalAlignment="@VerticalAlignment.Center">
        <FluentGrid Spacing="4"
                    AdaptiveRendering="true">
            <FluentGridItem xs="2" sm="2">
                <FluentButton OnClick="Create" IconStart="@(new Icons.Regular.Size20.AddCircle())" Title="New" />@* New</FluentButton> *@
            </FluentGridItem>
            <FluentGridItem xs="2" sm="2" HiddenWhen="GridItemHidden.SmAndDown">
                <FluentButton aria-label="Print" IconEnd="@(new Icons.Regular.Size16.Print())" Title="Print" />
            </FluentGridItem>
            <FluentGridItem xs="2" sm="2" HiddenWhen="GridItemHidden.SmAndDown">
                <FluentButton aria-label="Save" IconEnd="@(new Icons.Regular.Size16.DocumentPdf())" Title="Export pdf" OnClick="ExportToPdf" />
            </FluentGridItem>
            <FluentGridItem xs="2" sm="2" HiddenWhen="GridItemHidden.SmAndDown">
                <FluentButton aria-label="Export" IconEnd="@(new Icons.Regular.Size16.ArrowExport())" Title="Export" />
            </FluentGridItem>
        </FluentGrid>
        <FluentDivider Style="height: 24px;" Role="DividerRole.Presentation" Orientation="Orientation.Vertical" />
        <FluentSearch Style="width: 100%;" type="search" Autofocus=true @bind-Value=nameFilter @oninput="HandleNameFilter" AfterBindValue="HandleClear" Placeholder="Warehouse name..." />
    </FluentStack>

</FluentToolbar>

<FluentPaginator State="@pagination" />

<div>
    <FluentDataGrid Id="warehousegrid"
                    Pagination="@pagination"
                    Items="@FilteredWarehouses"                   
                    TGridItem="Warehouse">

        <PropertyColumn Title="Name" Property="@(c => c!.Name)" Sortable="true" Align="Align.Start" TooltipText="@(c => c!.Name)" Tooltip="true" />
        <PropertyColumn Title="Categories" Property="@(c => c!.Categories.Count())" Sortable="false" Align="Align.End" />
        <PropertyColumn Title="Items" Property="@(c => c!.Items.Count())" Sortable="false" Align="Align.End" />
        <PropertyColumn Title="Last Update" Property="@(c => c!.DateUpdate)" Sortable="false" Align="Align.End" />
        <PropertyColumn Title="Price" Property="@(c => c!.WarehousePrice)" Sortable="false" Align="Align.End" />

        <TemplateColumn Title="Actions" Align="@Align.End">
            <FluentButton OnClick="@(() => Oversee(context))" aria-label="edit" IconEnd="@(new Icons.Regular.Size16.Eye())" />
            <FluentButton OnClick="@(() => Update(context))" aria-label="edit" IconEnd="@(new Icons.Regular.Size16.Edit())" />
            <FluentButton OnClick="@(() => Delete(context.Id, context.Name))" aria-label="delete" IconEnd="@(new Icons.Regular.Size16.Delete())" />
        </TemplateColumn>
    </FluentDataGrid>

</div>


