@inject NavigationManager NavigationManager

@inject IStringLocalizer<Language> Language

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/"
                           Match="NavLinkMatch.All"
                           Icon="@(new Icons.Regular.Size20.Home())"
                           IconColor="Color.Accent">
                @Language["MenuHome"]
            </FluentNavLink>
            <AuthorizeView>
                <Authorized>
                    <FluentNavLink Href="enterprise/home"
                                   Match="NavLinkMatch.All"
                                   Icon="@(new Icons.Regular.Size20.BuildingSkyscraper())"
                                   IconColor="Color.Accent">
                        @Language["MenuEnterprise"]
                    </FluentNavLink>

                    <FluentNavGroup Title="Logistica"
                                    Icon="@(new Icons.Regular.Size20.BuildingShop())"
                                    Href="/logistic/home">
                        <FluentNavLink Href="/"
                                       Match="NavLinkMatch.All"
                                       Icon="@(new Icons.Regular.Size20.Home())"
                                       IconColor="Color.Accent">
                            @Language["MenuContracts"]
                        </FluentNavLink>
                        <FluentNavLink Href="/"
                                       Match="NavLinkMatch.All"
                                       
                                       IconColor="Color.Accent">
                            @Language["MenuProviders"]
                        </FluentNavLink>
                        <FluentNavLink Href="warehouse/home"
                                       Match="NavLinkMatch.All"
                                       Icon="@(new Icons.Regular.Size20.Storage())"
                                       IconColor="Color.Accent">
                            @Language["MenuWarehouses"]
                        </FluentNavLink>
                    </FluentNavGroup>

                    <FluentNavGroup Title="Production"
                                    Icon="@(new Icons.Regular.Size20.BuildingFactory())">
                        <FluentNavLink Href="/"
                                       Match="NavLinkMatch.All"
                                       
                                       IconColor="Color.Accent">
                            @Language["MenuTalleres"]
                        </FluentNavLink>
                        <FluentNavLink Href="/"
                                       Match="NavLinkMatch.All"
                                       
                                       IconColor="Color.Accent">
                            @Language["MenuDocumentation"]
                        </FluentNavLink>
                    </FluentNavGroup>

                    <FluentNavLink Href="/"
                                   Match="NavLinkMatch.All"
                                   
                                   IconColor="Color.Accent">
                        @Language["MenuBlog"]
                    </FluentNavLink>
                    <FluentNavLink Href="settings"
                                   Icon="@(new Icons.Regular.Size20.Settings())"
                                   IconColor="Color.Accent">
                        @Language["MenuSettings"]
                    </FluentNavLink>

                </Authorized>
                <NotAuthorized>
                    <FluentNavLink Href="/"
                                   Match="NavLinkMatch.All"
                                   Icon="@(new Icons.Regular.Size20.News())"
                                   IconColor="Color.Accent">
                        @Language["MenuBlog"]
                    </FluentNavLink>
                </NotAuthorized>
            </AuthorizeView>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;   
}
