@inject NavigationManager NavigationManager

@inject IEnterpriseService EnterpriseService

@inject IDialogService DialogService

@inject IToastService ToastService

@attribute [StreamRendering]

@if (Enterprise is null)
{
    <p><em>Loading...</em></p>
    <h1>Create one</h1>
}
else
{
    <FluentGrid Spacing="2"
                AdaptiveRendering="true">

        <FluentGridItem xs="12">
            <FluentCard>
                <FluentLabel Typo="Typography.HeroTitle">@Enterprise.Name</FluentLabel>
            </FluentCard>
        </FluentGridItem>

        <FluentGridItem xs="12">
            <FluentDivider />
        </FluentGridItem>

        <FluentGridItem xs="12">
            <FluentAccordionItem Heading="Description">

                <FluentButton OnClick="@(() => Update(Enterprise))" aria-label="edit" IconEnd="@(new Icons.Regular.Size16.Edit())"> Editar </FluentButton>

                <div slot="end">
                    <FluentLabel Typo="Typography.Subject">
                        Register At:
                        <small>@Enterprise.DateCreate</small>
                    </FluentLabel>
                </div>
                <FluentLabel Typo="Typography.Subject">@Enterprise.Description</FluentLabel>
            </FluentAccordionItem>
        </FluentGridItem>

        <FluentGridItem xs="12" sm="6" HiddenWhen="GridItemHidden.SmAndDown">
            <FluentCard>
                <p>Clients</p>
                <p>Providers</p>
                <p>Routes</p>
                <p>Sponsors</p>
                <p>Articles</p>
                <p>Blogs</p>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="12" sm="6" HiddenWhen="GridItemHidden.SmAndDown">
            <FluentCard>
                <p>Warehouses</p>
                <p>Departments</p>
                <p>Store</p>
                <p>Contract</p>
                <p>Sales</p>
                <p>Buys</p>
            </FluentCard>
        </FluentGridItem>

        <FluentGridItem xs="12" sm="6">
            <FluentCard>
                <FluentLabel Typo="Typography.Subject">
                    Register At:
                    <small>@Enterprise.DateCreate</small>
                </FluentLabel>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="12" sm="6">
            <FluentCard>
                <FluentLabel Typo="Typography.Subject">
                    Register At:
                    <small>@Enterprise.DateCreate</small>
                </FluentLabel>
            </FluentCard>
        </FluentGridItem>

        <FluentGridItem xs="6" sm="3">
            <FluentCard>
                <PluginComponent Title="Resumen"
                                 Badge="new"
                                 ButtonTitle="Resumen"
                                 NavString="/" />
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="6" sm="3">
            <FluentCard>
                <PluginComponent Title="Sales"
                                 Badge="new"
                                 ButtonTitle="Resumen"
                                 NavString="/" />
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="6" sm="3">
            <FluentCard>
                <PluginComponent Title="Production"
                                 Badge="new"
                                 ButtonTitle="Resumen"
                                 NavString="/" />
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="6" sm="3">
            <FluentCard>
                <PluginComponent Title="Logistic"
                                 Badge="new"
                                 ButtonTitle="Resumen"
                                 NavString="/" />
            </FluentCard>
        </FluentGridItem>
    </FluentGrid>
}

