@inject NavigationManager NavigationManager

@inject IEnterpriseService EnterpriseService

@inject IDialogService DialogService

@inject IToastService ToastService

@attribute [StreamRendering]

@if (Enterprise is null)
{
    <p><em>Loading...</em></p>
    <p>If not have une</p>
    <FluentButton OnClick="Create" IconStart="@(new Icons.Regular.Size20.AddCircle())" Title="New" >Create one</FluentButton>
}
else
{
    <FluentGrid Spacing="2"
                AdaptiveRendering="true">

        <FluentGridItem xs="12">
            <FluentCard>
                <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween">
                    <FluentLabel Typo="Typography.HeroTitle">@Enterprise.Name</FluentLabel>
                    <FluentButton OnClick="@(() => Update(Enterprise))" aria-label="edit" IconEnd="@(new Icons.Regular.Size16.Edit())"> Editar </FluentButton>
                </FluentStack>
            </FluentCard>
        </FluentGridItem>

        <FluentGridItem xs="12">
            <FluentDivider />
        </FluentGridItem>

        <FluentGridItem xs="12">
            <FluentCard>
                <FluentLabel Typo="Typography.Subject">@Enterprise.Description</FluentLabel>
            </FluentCard>
        </FluentGridItem>

        <FluentGridItem xs="12">
            <FluentCard>
                <FluentAccordionItem Heading="Oversee">
                    <div slot="end">
                        <FluentLabel Typo="Typography.Subject">
                            Register At: <small>@Enterprise.DateCreate</small>
                        </FluentLabel>
                    </div>
                    <FluentGrid Spacing="2"
                                AdaptiveRendering="true">
                        <FluentGridItem xs="12" sm="6">
                            <FluentCard>
                                <p>Clients</p>
                                <p>Providers</p>
                                <p>Routes</p>
                                <p>Sponsors</p>
                                <p>Articles</p>
                                <p>Blogs</p>
                            </FluentCard>
                        </FluentGridItem>
                        <FluentGridItem xs="12" sm="6">
                            <FluentCard>
                                <p>Warehouses</p>
                                <p>Departments</p>
                                <p>Store</p>
                                <p>Contract</p>
                                <p>Sales</p>
                                <p>Buys</p>
                            </FluentCard>
                        </FluentGridItem>
                    </FluentGrid>
                </FluentAccordionItem>
            </FluentCard>
        </FluentGridItem>
        
        <FluentGridItem xs="12" sm="6">
            <FluentCard>
                <FluentLabel Typo="Typography.Subject">
                    News <FluentBadge>5</FluentBadge>
                </FluentLabel>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="12" sm="6">
            <FluentCard>
                <FluentLabel Typo="Typography.Subject">
                    Actives <FluentBadge>10</FluentBadge>
                </FluentLabel>
            </FluentCard>
        </FluentGridItem>

        <FluentGridItem xs="6" sm="3">
            <FluentCard>
                <PluginComponent Title="Resumen"
                                 Badge="new"
                                 ButtonTitle="Resumen"
                                 NavString="/" />
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="6" sm="3">
            <FluentCard>
                <PluginComponent Title="Sales"
                                 Badge="new"
                                 ButtonTitle="Resumen"
                                 NavString="/" />
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="6" sm="3">
            <FluentCard>
                <PluginComponent Title="Production"
                                 Badge="new"
                                 ButtonTitle="Resumen"
                                 NavString="/" />
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="6" sm="3">
            <FluentCard>
                <PluginComponent Title="Logistic"
                                 Badge="new"
                                 ButtonTitle="Resumen"
                                 NavString="/" />
            </FluentCard>
        </FluentGridItem>
    </FluentGrid>
}

